@use "../util/vertical-rhythm";

.footer {
  padding: calc(vertical-rhythm.$basis * 2) calc(vertical-rhythm.$basis * 2)
    calc(vertical-rhythm.$basis * 3);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(vertical-rhythm.$basis / 2);
  align-items: center;
  background: #eaeaea;
  color: #333333;
}
