.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background: #eaeaea;

   &__container {
      display: flex;
      align-items: center;
      gap: 2rem;
   }

   &__logo {
      flex-shrink: 0;
   }

}