.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;

   &_theme {
      &-homepage {
         background: #1d1d1d;
         color: #cccccc;
      }

      &-default {
         background: #eaeaea;
         color: #333333;
      }
   }

   &__container {
      display: flex;
      align-items: center;
      gap: 2rem;
   }

   &__logo {
      flex-shrink: 0;

      &-icon {
         margin-left: -0.5rem;
      }
   }


}