.board {
   &__row {
      display: flex;
   }

   &__cell {
      border: 1px solid #cccccc;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
   }
}