.board {
   &__row {
      display: flex;
   }

   &__cell {
      border: 1px solid #cccccc;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      text-align: center;
      font-family: inherit;
      font-size: 1.5em;
      line-height: 1em;

      &--readonly {
         color: #333333;
         font-weight: bold;
      }
   }
}