$border: 1px solid #cccccc;
$border-thick: 2px solid #999999;

.board {
   width: 27rem;
   height: 27rem;

   &__row {
      display: flex;

      &:first-child {
         border-top: $border;
      }
      &:nth-child(4),
      &:nth-child(7) {
         border-top: $border-thick;
      }
   }

   &__cell {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: none;
      text-align: center;
      font-family: inherit;
      font-size: 1.5em;
      line-height: 1em;

      border-left: $border;
      border-bottom: $border;

      &--readonly {
         color: #333333;
         font-weight: bold;
      }

      &:focus {
         position: relative;
         z-index: 1;
         outline: 3px solid #0066FF;
      }

      &:nth-child(3),
      &:nth-child(6) {
         border-right: $border-thick;
      }

      &:nth-child(9) {
         border-right: $border;
      }
   }
}