.main {
   padding: 2rem 2rem 5rem;
   flex-grow: 1;

   display: flex;
   align-items: center;
   justify-content: center;

   &--public {
      background: #666666 repeat center;
      
      animation: drift 120s linear infinite;

      @keyframes drift {
         to {
            background-position: 0% 0%;
         }
         from {
            background-position: -100% 0%;
         }
      }

      background-image: url('../img/pattern.jpg');
      
   }
}